@import "tailwindcss";
.form-block {
  @apply flex flex-col p-4 md:p-12;
  border-radius: var(--default-radius);
  background: var(--primary-color-75);

  .form-container {
    @apply flex flex-col;

    .form-title {
      @apply font-bold text-white mb-12 text-center md:text-left;
      font-size: 42px;
      font-family: "KoHo", sans-serif;
      font-weight: 600;
      font-style: normal;
    }

    .form-group {
      @apply flex flex-col md:flex-row justify-between w-full gap-6 md:gap-12 mb-12;

      .form-item {
        @apply flex relative w-full flex-col;

        .form-input {
          @apply flex outline-0 px-6 py-4 w-full text-white;
          border-radius: var(--default-radius);
          background: var(--primary-color);
          -webkit-box-shadow: 0 0 20px 0 var(--tier-color-75);
          box-shadow: 0 0 20px 0 var(--tier-color-75);

          &:focus + .form-label,
          &:not(:placeholder-shown) + .form-label {
            transform: translateY(-1.5rem) translateX(-1.5rem) scale(0.9);
          }

          &::placeholder { /* Standard */
            color: var(--primary-color);
          }
          &::-webkit-input-placeholder { /* Chrome / Safari */
            color: var(--primary-color);
          }
          &::-moz-placeholder { /* Firefox */
            color: var(--primary-color);
          }
          &:-moz-placeholder { /* Firefox old */
            color: var(--primary-color);
          }
          &::-ms-input-placeholder { /* IE */
            color: var(--primary-color);
          }

        }

        .form-label {
          @apply absolute top-4 left-8 text-xs font-semibold text-white transition-all;
          font-size: 14px;
          font-family: "KoHo", sans-serif;
          font-weight: 400;
          pointer-events: none;
          font-style: normal;
        }
      }
    }

    .form-actions {
      @apply flex;

      .send {
        @apply mx-auto md:ml-auto md:mr-0;
      }
    }
  }

  .error {
    @apply text-red-400 text-xs mt-2 ml-4;

    &.global {
      @apply mx-auto text-xl mb-12;
    }
  }

  .success {
    @apply text-green-400 text-xl mx-auto mb-12;
  }
}