@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all.css";

:root {
  --secondary-color: rgb(76, 17, 169);
  --secondary-color-75: rgba(76, 17, 169, 0.75);

  --tier-color: rgb(47, 39, 79);
  --tier-color-75: rgba(47, 39, 79, 0.75);
  --tier-color-95: rgba(47, 39, 79, 0.98);

  --primary-color: rgb(17, 17, 49);
  --primary-color-75: rgba(17, 17, 49, 0.75);

  --default-radius: 18px;
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  width: 100vw;
  box-sizing: content-box;
}

p, span, ul, li, a, label, button, label, input, select, textarea {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

input, select, textarea, label {
  @apply text-sm;
}

.btn {
  @apply cursor-pointer;

  &.cta {
    @apply flex w-fit px-8 py-6 text-white transition-colors;
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    &.primary {
      background: var(--tier-color-75);
      border-radius: var(--default-radius);
      -webkit-box-shadow: 0 0 10px 0 var(--tier-color-75);
      box-shadow: 0 0 10px 0 var(--tier-color-75);

      &:hover {
        background: var(--secondary-color);
        -webkit-box-shadow: 0 0 30px 0 var(--tier-color);
        box-shadow: 0 0 30px 0 var(--secondary-color);
      }
    }
  }

  &.send {
    @apply flex w-fit px-9 py-4 text-white transition-colors;
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    background: var(--tier-color-75);
    border-radius: var(--default-radius);
    -webkit-box-shadow: 0 0 10px 0 var(--tier-color-75);
    box-shadow: 0 0 10px 0 var(--tier-color-75);

    &:hover {
      background: var(--secondary-color);
      -webkit-box-shadow: 0 0 30px 0 var(--tier-color);
      box-shadow: 0 0 30px 0 var(--secondary-color);
    }
  }

  &.btn-disabled {
    @apply cursor-not-allowed;
  }
}